<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TSE.css') }}">
    <title>Cadastro - TrainStation Evolved</title>
</head>
<body class="index">
    <div class="container index">
        <h1>Bem-vindo!! <br> Vamos começar!</h1>
        Nickname:
        <input type="email" id="getNick" placeholder="Nickname: "><br>
        Email:
        <input type="email" id="getEmail" placeholder="Email: "><br>
        Senha:
        <input type="password" id="getPass" placeholder="Senha: "><br>
        Confirmar Senha:
        <input type="password" id="getConfirmPass" placeholder="Confirme a Senha "><br>
        Idioma:
        <select id="getLang">
            <option value="ptbr">Portugues</option>
            <option value="eng">English</option>
        </select>
        <br><span id="textoerro"></span><br>
        <div class="buttons">
            <button onclick="window.history.back()">Voltar</button>
            <button id="btnCadastrar">Cadastrar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/cadastro-login.js') }}"></script>
</body>
</html>