<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - TrainStation Evolved</title>
</head>
<body>
    <h1>Bem-vindo!! Vamos começar!</h1>
    Nickname:
    <input type="email" id="getNick" placeholder="Nickname: "><br>
    Email:
    <input type="email" id="getEmail" placeholder="Email: "><br>
    Senha:
    <input type="password" id="getSenha" placeholder="Senha: "><br>
    Confirmar Senha:
    <input type="password" id="getConfirmSenha" placeholder="Confirme a Senha "><br><br>
    Idioma:
    <select id="">
        <option value="ptbr">Portugues</option>
        <option value="eng">English</option>
    </select>
</body>
</html>