<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainStation Evolved</title>
</head>
<body>
    {% include 'hud/hud.html' %}

    <div id="map-root">
      {% include 'world/map.html' %}
    </div>

    <div id="modal-root"></div><!--This div is responsable for showing the screens upon some action, like clicking the train or any bottom button-->
    
<script src="{{ url_for('static', filename='js/hud.js') }}"></script>
</body>
</html>