<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainStation Evolved</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="index">
    <div class="container index">
        <h1>TrainStation Evolved</h1>
        <div class="central_content">
            <div class="text_and_button">
                <span class="text">Already have an account?<br></span>
                <button id="btnLogin">Log In</button>
            </div>
            <div class="text_and_button">
                <span class="text">Still don't have an account?<br></span>
                <button id="btnSignup">Sign Up</button>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>