<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainStation Evolved</title>
</head>
<body>
    <h1>TrainStation Evolved</h1>
    <div>
        Já possui uma conta?
        <button id="btnLogin">Entrar</button>
    </div>

    <div>
        Ainda não possui uma conta?
        <button id="btnSignup">Cadastrar</button>
    </div>
    <div id="divisor">OU</div>
    <button>Facebook</button>
    <button>Google</button>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>