<div class="darkBG">
    <div class="divTrains">
        <header class="buildingOptions">
            <div class="optionBuild">Train</div>
            <div class="optionBuild">Cargo Wagon</div>
            <div class="optionBuild">Gold Wagon</div>
            <div class="btnClose" onclick="loadScreen('/page/trains')">x</div>
        </header>
        <div class="showItems"></div>
        <div class="displayTrain"></div>
        <footer class="showProfit"></footer>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/createTrain.css') }}">