<div class="darkBG">
    <div class="divTrains">
        <header class="header_train_slots">            
            <div class="headerTop">
                <span class="headerTitle">
                    Trains / <span id="typeSlots">Local Trains</span>
                </span>
            </div>
            <div class="buttonOptions">
                <div class="optionSlots active" id="btn_local_slots">Local Trains</div>
                <div class="optionSlots" id="btn_it_slots">IT Trains</div>
                <div class="optionSlots" id="btn_depot_slots">Depot Trains</div>
            </div>
            <span class="btnClose" id="btnClose" onclick="closeTab()">x</span>
        </header>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/trains.css') }}">
