<div class="topleft elements">
    <button id="btnTime">00:00:00</button>
    <button id="btnPassengers">797</button>
    <button id="btnHoverMail">1000</button>
</div>
<div class="topright elements">
    <button id="btnGold">1000</button>
    <button id="btnDiamonds">50</button>
    <button id="btnMats">Materials</button>
</div>
<div class="level">
    1
    <progress max="100" value="35" id="progressLevel"></progress>
</div>

<div class="options">
    <button class="spaced" id="btnTrains">Trains</button>
    <button id="btnShop">Shop</button>
    <button id="btnWarehouse">Warehouse</button>
    <button id="btnAchievements">Achievements</button>
    <button id="btnContracts">Contracts</button>
    <!--<button id="btnGifts">Gifts</button>-->
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/hud.css') }}">