body.index {
    background-image:url( "../img/bgPages/bgindex.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;

}

.divisor {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #292929;
  position: relative;
}

.divisor::before,
.divisor::after {
  content: "";
  height: 1px;
  background: #292929;
  width: 40%;
  position: absolute;
  top: 50%;
}

.divisor::before { left: 0; }
.divisor::after { right: 0; }

.container.index{
    align-items: center;
    align-content: center;
    background-color: rgba(94, 223, 246, 0.302);
    border: 2px solid #292929;
    height: min-content;
    width: max-content;
    padding: 30px;
    border-radius: 30px;
}


.social {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.social button {
    flex: 1;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.social button img {
    width: 18px;
}

.central_content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.central_content button{
    margin-bottom: 5%;
}

.central_content > div {
    flex: 1;                 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 10px;
}
.container.index button{
    padding: 10px;
    min-width: 150px;
    border-radius: 25px;
    background-color: rgba(47, 224, 255, 0.627);

    transition: 
        background-color 0.3s ease,
        transform 0.2s ease;
}
.container.index button:hover{
    background-color: rgba(47, 224, 255, 0.835);
}

.container.index select{
    border: 1px solid #292929;
    width: max-content;

    border-radius: 8px;
    background-color: rgba(47, 224, 255, 0.627);
}

.container.index input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(56, 218, 247) inset !important; /* cor de fundo */
  -webkit-text-fill-color: #292929 !important; /* cor do texto */
}


.container.index input{
    width: 100%;
    padding: 5px;
    background-color: rgba(28, 242, 246, 0.726);
    border-radius: 8px;
}
.container.index input::placeholder{
    color: #292929;
}.container.index input:focus{
    background-color: rgba(23, 216, 250, 0.871);
}
.container.index h1{
    text-align: center;
}
.text_and_button .text {
    min-height: 45px;
    justify-items: center;
    text-align: center;
}
#textoerro{
    color: red;
    font-size: x-small;
    background-color: rgba(94, 223, 246, 0.533);
}
@media (max-width: 700px) {
    .container.index{
        padding: 7px;   
    }
    .container.index input{
        width: 95%;
        padding: 3px;
        border-radius: 8px;
    }
}